[Unit]
Description=Proxy from TCP :%i to Unix socket /home/podman/port%i.sock
Requires=sock2port@%i.socket
After=sock2port@%i.socket

[Service]
Type=notify
SELinuxContext=system_u:system_r:my_proxy_t:s0
ExecStart=/usr/lib/systemd/systemd-socket-proxyd /home/podman/port%i.sock

[Install]
WantedBy=multi-user.target
