[Unit]
Description=Proxy from UDP :%i to Unix socket /home/podman/run/port%i_udp.sock
Requires=udp2sock@%i.socket
After=udp2sock@%i.socket

[Service]
Type=notify
SELinuxContext=system_u:system_r:my_udp_proxy_t:s0
ExecStart=/usr/lib/systemd/systemd-socket-proxyd /home/podman/run/port%i_udp.sock

[Install]
WantedBy=multi-user.target
